# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/cook_mate/backend/node_modules
/cook_mate/backend/.env
/CookMate/cook_mate/backend/.env
# testing
/coverage

# production
/build

# misc
/CookMate/cook_mate/backend/.DS_Store
/CookMate/cook_mate/backend/.env.local
/CookMate/cook_mate/backend/.env.development.local
/CookMate/cook_mate/backend/.env.test.local
/CookMate/cook_mate/backend/.env.production.local

/CookMate/cook_mate/backend/npm-debug.log*
/CookMate/cook_mate/backend/yarn-debug.log*
/CookMate/cook_mate/backend/yarn-error.log*
